interactions:
- request:
    body: title=%5BFMTS%5D+TLS+certificate+for+joystick.stg+service+is+about+to+expire+in+2000+days&issue_content=%0AThis+is+to+inform+that+the+TLS+certificate+for+%2A%2Ajoystick.stg%2A%2A+service+will+expire+in+about+%2A%2A2000+day%28s%29%2A%2A+from+now+on+%2A%2A2029-05-25+23%3A04%3A35+UTC%2A%2A.+The+following+are+information+relevant+to+the+associated+TLS+certificate.%0A%0A-+%2A%2AService+name%2A%2A+-+%2A%2Ajoystick.stg%2A%2A+%28Certificate+stored+as+%2A%2Ajoystick.stg.crt%2A%2A%29%0A-+%2A%2AIssuing+authority%2A%2A+-+RabbitMQ+STAGING+CA+%28%2A%2A%2344541479035547978831580614561088909678%2A%2A%29%0A-+%2A%2AValidity+starting%2A%2A+-+%2A%2A2019-05-28+23%3A04%3A35+UTC%2A%2A+%28%2A%2A2054+day%28s%29%2A%2A+passed+since+beginning%29%0A-+%2A%2AValidity+ending%2A%2A+-+%2A%2A2029-05-25+23%3A04%3A35+UTC%2A%2A+%28%2A%2A1596+day%28s%29%2A%2A+left+before+expiring%29%0A%0AThe+point+of+contact+for+the+service+have+been+tagged+into+this+ticket+and+notified+about+the+same.+It+is+strongly+recommended+to+promptly+renew+the+TLS+certificate+for+the+service+before+the+existing+one+expires.%0A%0A_This+issue+ticket+was+automatically+created+by+the+%5B%2A%2AFirmitas+notification+service%2A%2A%5D%28https%3A%2F%2Fgitlab.com%2Ft0xic0der%2Ffirmitas%29.+Please+contact+%5B%2A%2AFedora+Infrastructure%2A%2A%5D%28https%3A%2F%2Fpagure.io%2Ffedora-infrastructure%2Fissues%29+team+if+you+believe+that+this+notification+is+mistaken._%0A&tag=firmitas%2Cautomate%2Cnotifier&assignee=t0xic0der
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://pagure.io/api/0/firmitas-notifier/new_issue
  response:
    body:
      string: "{\n  \"issue\": {\n    \"assignee\": {\n      \"full_url\": \"https://pagure.io/user/t0xic0der\",
        \n      \"fullname\": \"Akashdeep Dhar\", \n      \"name\": \"t0xic0der\",
        \n      \"url_path\": \"user/t0xic0der\"\n    }, \n    \"blocks\": [], \n
        \   \"close_status\": null, \n    \"closed_at\": null, \n    \"closed_by\":
        null, \n    \"comments\": [], \n    \"content\": \"\\nThis is to inform that
        the TLS certificate for **joystick.stg** service will expire in about **2000
        day(s)** from now on **2029-05-25 23:04:35 UTC**. The following are information
        relevant to the associated TLS certificate.\\n\\n- **Service name** - **joystick.stg**
        (Certificate stored as **joystick.stg.crt**)\\n- **Issuing authority** - RabbitMQ
        STAGING CA (**#44541479035547978831580614561088909678**)\\n- **Validity starting**
        - **2019-05-28 23:04:35 UTC** (**2054 day(s)** passed since beginning)\\n-
        **Validity ending** - **2029-05-25 23:04:35 UTC** (**1596 day(s)** left before
        expiring)\\n\\nThe point of contact for the service have been tagged into
        this ticket and notified about the same. It is strongly recommended to promptly
        renew the TLS certificate for the service before the existing one expires.\\n\\n_This
        issue ticket was automatically created by the [**Firmitas notification service**](https://gitlab.com/t0xic0der/firmitas).
        Please contact [**Fedora Infrastructure**](https://pagure.io/fedora-infrastructure/issues)
        team if you believe that this notification is mistaken._\\n\", \n    \"custom_fields\":
        [], \n    \"date_created\": \"1736514644\", \n    \"depends\": [], \n    \"full_url\":
        \"https://pagure.io/firmitas-notifier/issue/189\", \n    \"id\": 189, \n    \"last_updated\":
        \"1736514644\", \n    \"milestone\": null, \n    \"priority\": null, \n    \"private\":
        false, \n    \"related_prs\": [], \n    \"status\": \"Open\", \n    \"tags\":
        [\n      \"automate\", \n      \"firmitas\", \n      \"notifier\"\n    ],
        \n    \"title\": \"[FMTS] TLS certificate for joystick.stg service is about
        to expire in 2000 days\", \n    \"user\": {\n      \"full_url\": \"https://pagure.io/user/t0xic0der\",
        \n      \"fullname\": \"Akashdeep Dhar\", \n      \"name\": \"t0xic0der\",
        \n      \"url_path\": \"user/t0xic0der\"\n    }\n  }, \n  \"message\": \"Issue
        created\"\n}\n"
    headers:
      Content-Type:
      - application/json
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
[...]
